.container-chitietsanpham{
    width: 85%;
    height: 105vh;
    margin-left: 15%;
    background-color: #f0f0f0;

}
.tieude-chitietsanpham{
    color:black ;
    display: flex;
    padding-top: 40px;
    margin-left: 85px;
    
}
.table-chitietsanpham{
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
.actions button {
    padding: 4px 8px;
    margin-right: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: blue;
    color:white
}
.small-img {
    width: 50px;
    height: 50px;
}