.account-container {
    margin-left: 20%;
    width: 80%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.account-bangdulieu {
    width: 100%;
    border-collapse: collapse;
}

.account-bangdulieu th,
.account-bangdulieu td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.account-bangdulieu th {
    background-color: #fff;
    color: #000;
    font-size: 15px;
    font-weight: bold;
}

.account-bangdulieu tr:nth-child(odd) {
    font-size: 15px;
    background-color: #f2f2f2;
}

.account-bangdulieu tr:hover {
    background-color: #ddd;
}

.account-bangdulieu tr td,
.account-bangdulieu tr th {
    text-align: center;
}

.account-bangdulieu tr td a {
    text-decoration: none;
}

.account-bangdulieu tr td a.edit-btn {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
}

.account-bangdulieu tr td a.edit-btn i {
    margin-right: 5px;
}

.account-bangdulieu tr td a.edit-btn:hover {
    background-color: #0056b3;
}

/* Pagination styles */
.account-pagination {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.account-pagination a {
    color: black;
    font-size: 15px;
    padding: 5px 10px;
    text-decoration: none;
    margin: 2px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

/* Pagination hover styles */
.account-pagination a:hover {
    background-color: #f2f2f2;
}
