.header-container {
    z-index: 3;
    position: relative; 
}
.header-color {
    background-color: var(--deep-green);
}
.headerlogo_no-text-decoration {
    text-decoration: none !important;
}

.search-input {
    border-radius: 0.25rem !important;
    height: 4rem !important;
    width: 30rem !important;
    font-size: 1.8rem !important;
    border-top-left-radius: 2.5rem !important;
    border-bottom-left-radius: 2.5rem !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.search-btn{
    font-size: 1.8rem !important;
    width: auto;
}
.search-btn:hover, .login-btn:hover, .cart-btn:hover{
    color: var(--deep-green);
}
.cart-margin{
    margin-right: 20rem;
}
.cart-btn{
    font-size: 1.8rem;
}
.cart-btn > i {
    font-size: 1.8rem;
}
.login-btn{
    font-size: 1.8rem !important;
}
.btn-toggler{
    color: var(--pure-white);
    border: solid 0.2rem;
    font-size: 1.8rem;
}
@media (max-width: 992px) {
    .header-nav {
        margin-top: 1rem;
    }
    .cart-margin{
        margin: 1rem 0 0 0 !important;
    }
    .login-margin{
        margin: 1rem 0 !important;
    }
}
.logout-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}
.logout-btn {
    background-color: #ff6347; 
    padding: 1rem;
    border: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
}
.header-infor {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-hi_user {
    margin-right: 2rem;
}
.header-hi_user a{
    font-weight: bold;
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
}