/* RESET CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --deep-green: #218282; /* Xanh dương sâu */
    --bright-white: #FFFFFF; /* Trong sáng */
    --brilliant-red: #D11313; /* Đỏ chói lọi */
    --pure-white: #FFFFFF; /* Trắng thuần khiết */
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
}
.header-topBanner {
    width: 100%;
}
.header-topBanner img {
    width: 100%;
    height: 100%;
    display: block; 
}